---
import Layout from "../layouts/Layout.astro";
import ContactSection from "../components/ContactSection.astro";
---

<Layout>
    <div class="">
        <h1 class="font-bold text-2xl">Page not found</h1>
        <div class="mt-2">
            <a href="/" class="text-sm bg-black text-white px-2 py-1 rounded underline">Home</a>
        </div>
        <div class="my-2 text-sm">
            <p class="font-semibold mb-2">Missing something? Contact me at:</p>
            <ContactSection/>
        </div>
    </div>
</Layout>
