---
import ContactSection from "../components/ContactSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2 class="text-2xl font-bold my-3">Contact</h2>
  <p class="mb-3">
    Want to ask about one of my projects or about hiring me? <br> You can reach me
    by email or discord.
  </p>
  
  <ContactSection/>
</Layout>
