---
import { getEntry } from "astro:content";

import postOrder from "../data/post_order";
import Layout from "../layouts/Layout.astro";
import FeedPost from "../components/FeedPost.astro";

import SkillIcons from "../components/SkillIcons"
import ContactSection from "../components/ContactSection.astro";

const logo = "/assets/logo_small.png";

const github_user = await (async () => {
  const data = await fetch("https://api.github.com/users/Hatchibombotar");
  return await data.json();
})();

const postCollectionInOrder = await Promise.all(
  postOrder.map(async (postSlug) => {
    const post = await getEntry("posts", postSlug);
    if (post == undefined) {
      throw Error("Failed to fetch post: " + postSlug);
    }
    return post;
  })
);
---

<Layout>
  <div class="flex flex-col sm:flex-row items-center justify-between flex-wrap my-3">
    <h2 class="text-2xl font-bold">Recent Projects</h2>
    <a href="/projects" class="underline font-semibold mx-1">View All</a>
  </div>
  <div class="flex justify-center flex-row flex-wrap sm:flex-col gap-2">
    {
      postCollectionInOrder.slice(0, 3).map((postFile) => {
        const post = postFile.data;
        return (
          <FeedPost post={post}></FeedPost>
        );
      })
    }
  </div>

  <hr class="my-5" />

  <h2 class="text-2xl font-bold my-3">Skills</h2>
  <SkillIcons client:load />
  <hr class="my-5" />

  <h2 class="text-2xl font-bold my-3" id="contact">Contact</h2>

  <ContactSection/>

</Layout>
