---
import { getEntry } from "astro:content";
import Root from "../layouts/Root.astro";

import { FiLink, FiGithub, FiExternalLink } from "solid-icons/fi";
import skills from "../data/skills";
import postOrder from "../data/post_order";
import projects from "../data/projects";
import Layout from "../layouts/Layout.astro";
import FeedPost from "../components/FeedPost.astro";

import SkillIcons from "../components/SkillIcons"

const logo = "/assets/logo_small.png";

const github_user = await (async () => {
  const data = await fetch("https://api.github.com/users/Hatchibombotar");
  return await data.json();
})();

const postCollectionInOrder = await Promise.all(
  postOrder.map(async (postSlug) => {
    const post = await getEntry("posts", postSlug);
    if (post == undefined) {
      throw Error("Failed to fetch post: " + postSlug);
    }
    return post;
  })
);
---

<Layout>
  <h2 class="text-2xl font-bold my-3">Recent Projects</h2>
  <div class="flex flex-col">
    {
      postCollectionInOrder.slice(0, 3).map((postFile) => {
        const post = postFile.data;
        return (
          <FeedPost post={post}></FeedPost>
        );
      })
    }
  </div>
  <a href="/projects" class="underline">View {postCollectionInOrder.length} More</a>

  <hr class="my-5" />

  <h2 class="text-2xl font-bold my-3">Skills</h2>
  <SkillIcons client:load />
  <hr class="my-5" />

  <h2 class="text-2xl font-bold my-3" id="contact">Contact</h2>

  <ul class="prose underline-offset-2">
    <li>
      <div class="flex items-center gap-2">
        <span>Discord: </span>
        <a href="https://discord.com/users/629396893440671765" target="_blank">
          @hatchibombotar
        </a>
      </div>
    </li>
    <li>
      <div class="flex items-center gap-2">
        <span>Email: </span>
        <a href="mailto:hatchibombotar.mc@gmail.com" target="_blank">
          hatchibombotar.mc@gmail.com
        </a>
      </div>
    </li>
  </ul>

</Layout>
