<ul class="underline-offset-2 list-disc flex flex-col gap-2">
    <li>
      <div class="flex flex-wrap items-center gap-2">
        <span>Discord: </span>
        <a class="underline font-semibold" href="https://discord.com/users/629396893440671765" target="_blank">
          @hatchibombotar
        </a>
      </div>
    </li>
    <li>
      <div class="flex flex-wrap items-center gap-2">
        <span>Email: </span>
        <a class="underline font-semibold" href="mailto:hatchibombotar.mc@gmail.com" target="_blank">
          hatchibombotar.mc@gmail.com
        </a>
      </div>
    </li>
  </ul>