---

import { SiDiscord } from 'solid-icons/si'
import { IoMail } from "solid-icons/io";

---
<div class="prose">
    <ul>
    <li>
        <div class="flex items-center gap-2">
            <SiDiscord class="fill-neutral-800 h-5 w-5"/>
            <span>Discord - </span>
            <a href="https://discord.com/users/629396893440671765" target="_blank">
                @hatchibombotar
            </a>
        </div>
    </li>
    <li>
        <div class="flex items-center gap-2">
            <IoMail class="fill-neutral-800 h-5 w-5"/>
            <span>Email - </span>
            <a href="mailto:hatchibombotar.mc@gmail.com" target="_blank">
                hatchibombotar.mc@gmail.com
            </a>
        </div>
    </li>
    </ul>
  </div>