@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #a8a8a8;
}

*::-webkit-scrollbar {
  border-radius: 4px;
  width: 10px;
  background: #fcfcfc;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #c4c4c4;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #a2a2a2;
}